*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./Images/login&registerbg.png);
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}

.register-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form{
    position: relative;
    z-index: 1;
    background: #43d1e7;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.title{
    color: #ff8725;
    text-transform: uppercase;
    font-weight: 800;
}

.title2{
    color: #ff8725;
    text-transform: capitalize;
}

.title3{
    color: #148699;
    text-transform: capitalize;
}

h1{
    color: #148699;
	font-size: 3rem;
	font-weight: 50;
	text-align: center; 
	font-family: 'Montserrat', sans-serif;
}

.form input{
    outline: none;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button{
    text-transform: uppercase;
    outline: 0;
    background: #ff8725;
    width: 100%;
    border: none;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transform: .5s;
}

.form button:hover,.form button:active{
    background: #148699;
    border: none;
}

.message{
    margin: 15px 0 0;
    color: #fff;
    font-size: 12px;
    font: bolder;
}

.form .message a{
    color: #148699;
    text-decoration: none;
}

img{
    width: 50%;
	margin: 1px auto;
	display: block;
}